* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 50rem;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.profile {
  margin-bottom: 20px;
}

#funnyPhoto {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

p {
  font-size: 1.2em;
  color: #555;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4e3b;
}

/* Estilização para o player de áudio */
.audio-player {
  margin-top: 30px;
  background-color: #ffe4b5; /* Um tom suave de bege para combinar */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

audio {
  width: 100%;
  margin-top: 10px;
}

audio::-webkit-media-controls-panel {
  background-color: #ff6f61;
  border-radius: 10px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: white;
}

audio:hover {
  border: 2px solid #ff4e3b;
  transition: border 0.3s ease;
}
